{% extends 'parent.html' %}
{% load static from static %}

{% block content %}
<div class="password">
    <form action="{% url 'profile:password' id=user.id %}" method="post">
        {%csrf_token%}
        {% for message in messages %}
            <p id='color'>**{{message}}</p>
        {% endfor %}
        <label for="old">Previous Password</label>
        <input type="password" id='old' name="old" placeholder="Old Password" required>

        <label for="new">New Password</label>
        <input type="password" id='new' name="new" placeholder="New Password" required>

        <label for="second">Confirm Password</label>
        <input type="password" id='second' name="second" placeholder="Confirm Password" required>
        
        <input type="submit" id='submit' value='Okay'>
    </form>
</div>
<script src="{% static 'js/color.js' %}"></script>
{% endblock %}
